.title {
    color: grey;
}

.ativo {
    background-color: rgba(167, 77, 250, 0.315);
    filter: brightness(0.8);
}
.ativo:hover {
    background-color: rgba(167, 77, 250, 0.315);
    filter: brightness(0.8);
}

.alert {
    height: 10%;    
 }
 
