body {
    font-family: Arial, sans-serif;
    margin: 0; /* Add this to remove default margin */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.vh-100 {
    height: 100vh;
}

.bg-image {
    background: url('../img/capa-1.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

h1 {
    color: #4e4e4e;
    font-weight: 700;
}

.form-label {
    color: #6c757d;
}

.btn-primary {
    background-color: #6200ea;
    border-color: #6200ea;
}

.link-danger {
    color: #6200ea;
}

.navbar {
    background-color: #f3f3f3;
}

@media (max-width: 768px) {
    .bg-image {
        display: none;
    }
}
